@model WebApplication1_NGSG.Models.Property

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscriptionNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscriptionNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscriptionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscriptionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InscriptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InscriptionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
